<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Feature Request {% endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script defer src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
           <nav class="navbar" role="navigation" aria-label="main navigation" style="box-shadow:0 0 10px #ccc;">
              <div class="container">
                <div class="navbar-brand">

                  <h1 class="title" style="margin: 8px 8px;">
                      <a  href={{ url_for('feature_request') }}>
                        BriteCore
                      </a>
                  </h1>

                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">


                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">

                        {% block right_menu %}

                        {% endblock %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>


    {% block body %} {% endblock%}
  </body>
    <script>
        $(document).ready( function () {

            $('#requestlist').DataTable();
        } );

    </script>
</html>